{% macro render_tree(nodes, parent_id='nav') -%}
<ul class="md-nav__list">
  {% for node in nodes %}
  {% if node.children %}
  {% set section_id = parent_id ~ '_' ~ loop.index %}
  <li class="md-nav__item md-nav__item--nested">
    <input class="md-nav__toggle" id="__{{ section_id }}" type="checkbox" />
    <label class="md-nav__link" for="__{{ section_id }}">
      <span class="md-ellipsis">{{ node.title }}</span>
      <span class="nav-chevron"><i class="fa fa-chevron-right"></i></span>
    </label>
    <nav class="md-nav">
      {{ render_tree(node.children, section_id) }}
    </nav>
  </li>
  {% else %}
  <li class="md-nav__item">
    <a href="{{ node.url }}" class="md-nav__link{% if node.active %} md-nav__link--active{% endif %}">
      <span class="md-ellipsis">{{ node.title }}</span>
    </a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{%- endmacro %}
