{% macro render_tree(nodes) -%}
<ul>
  {% for node in nodes %}
  {% if node.children %}
  <li class="directory">
    <a href="javascript:void(0)" class="directory">
      <span class="tree-label">{{ node.title }}</span>
      <span class="tree-expander">
        <i class="fa fa-angle-right tree-arrow" aria-hidden="true"></i>
      </span>
    </a>
    {{ render_tree(node.children) }}
  </li>
  {% else %}
  <li class="file">
    <a href="{{ node.url }}">{{ node.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{%- endmacro %}
