{% extends "base.html" %}

{% block content %}
{% if document.title %}<h1>{{ document.title }}</h1>{% endif %}

{% if document.author or document.date_display or document.tags %}
<div class="article-meta">
  {% if document.author %}<span>{{ document.author }}</span>{% endif %}
  {% if document.date_display %}<span>{{ document.date_display }}</span>{% endif %}
  {% if document.tags %}<span>{{ document.tags | join(' · ') }}</span>{% endif %}
</div>
{% endif %}

{{ document.html | safe }}

{% if document.kind == 'post' and (document.previous_post or document.next_post) %}
<div class="post-guide">
  <div class="item">
    {% if document.previous_post %}
    <a href="{{ document.previous_post.url }}"><i class="fa fa-angle-left"></i> {{ document.previous_post.title }}</a>
    {% endif %}
  </div>
  <div class="item right">
    {% if document.next_post %}
    <a href="{{ document.next_post.url }}">{{ document.next_post.title }} <i class="fa fa-angle-right"></i></a>
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}
